@font-face {
	font-family: _rm
	src: url('fonts/cmunrm.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: _bf;
	src: url('fonts/cmunbx.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: _sf;
    font-weight: bold;
	src: url('fonts/cmunss.ttf') format('truetype');
}

@font-face {
	font-family: _it;
	src: url('fonts/cmunti.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: _bi;
	src: url('fonts/cmunbi.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
    color: #202F51;
    font-family: _rm;   
    font-size: 19px;
    text-align: left;
    margin: auto;
    background-image: url("resources/pw_maze_white.png");
    background-repeat: repeat;
}

div#footer {
    clear: both;
    text-align: center;
    color: #C0C0B0;
}

top {
    font-family:  _bf;
    font-size: 40px;
}

subtop {
	font-family: _rm;
    font-size: 30px;
	color: #555;
	display: block;
}

section {
    font-family:  _bf;
    font-size: 28px;
}

/*
conference {
	font-family: _sf;
    font-size: 19px;
}
*/

conference, papertitle {
	font-family: _sf;
    font-size: 19px;
/*	color: #6b6b6b;*/
}

authors {
	font-family: _it;
    font-size: 19px;
}

A a {
    font-family: _rm;   
    color: #0061c8;
    text-decoration: none;
    border-bottom: solid 1px #0061c8;
}

/* visited link */
A a:visited {
    font-family: _rm, serif;   
    color: #0061c8;
    text-decoration: none;
    border-bottom: solid 1px #0061c8;
}

/* mouse over link */
A a:hover {
    font-family: _rm, serif;   
    color: #0061c8
    text-decoration: none;
    border-bottom: solid 1px #0061c8;
}
