@font-face {
	font-family: _rm
	src: url('fonts/cmunrm.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: _bf;
	src: url('fonts/cmunbx.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: _sf;
    font-weight: bold;
	src: url('fonts/cmunss.ttf') format('truetype');
}

@font-face {
	font-family: _it;
	src: url('fonts/cmunti.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: _bi;
	src: url('fonts/cmunbi.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
    color: #202F51;
    font-family: _rm, serif;   
    font-size: 18px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    background-image: url("resources/pw_maze_white.png");
    background-repeat: repeat;
}

li::marker {
  color: #202F51; 
}

div#header,
div#main,
div#footer {
    max-width: 50%;
    min-width: 10%;
    margin: auto;
}

div#main {
    position: relative;
}

div#header {
    text-align: right;
}

div#side {
    float: left;
/*    padding: 0px 1% 0px 0px;*/
    width: 25%;
    text-align: left;
}

div#content {
    float: right;
/*    padding: 0px 0px 0px 1%;*/
    width: 75%;
    text-align: left;
}

div#footer {
    clear: both;
    text-align: center;
    color: #C0C0B0;
    padding: 30px;
}

top {
    font-family:  _bf, serif;
    font-size: 38px;
}

section {
    font-family:  _bf, serif;
    font-size: 30px;
}

papertitle {
	font-family: _sf;
	color: #6b6b6b;
}

A a {
    font-family: _rm, serif;   
    color: #0061c8;
    text-decoration: none;
    border-bottom: solid 1px #0061c8;
}

/* visited link */
A a:visited {
    font-family: _rm, serif;   
    color: #0061c8;
    text-decoration: none;
    border-bottom: solid 1px #0061c8;
}

/* mouse over link */
A a:hover {
    font-family: _rm, serif;   
    color: #0061c8
    text-decoration: none;
    border-bottom: solid 1px #0061c8;
}
