@font-face {
	font-family: _rm
	src: url('fonts/cmunrm.ttf') format('truetype'),
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: _bf;
	src: url('fonts/cmunbx.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: _sf;
	src: url('fonts/cmunss.ttf') format('truetype');
}

@font-face {
	font-family: _it;
	src: url('fonts/cmunti.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: _bi;
	src: url('fonts/cmunbi.ttf') format('truetype');
	font-style: italic;
}

body {
    color: #202F51;
    font-family: _rm;   
    font-size: 19px;
    text-align: left;
    margin: auto;
    background-image: url("resources/pw_maze_white.png");
    background-repeat: repeat;
}

footer {
    text-align: center;
    color: #C0C0B0;
}

top {
    font-family: _bf;
    font-size: 40px;
}

subtop {
	font-family: _rm;
    font-size: 30px;
	color: #555;
	display: block;
}


hr.gradient { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

/*hr.styled { padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; } hr.styled:after { content: "ยง"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; background-image: url("resources/pw_maze_white.png"); background-repeat: repeat; }*/

section {
    font-family:  _bf;
    font-size: 28px;
}

/*
conference {
	font-family: _sf;
    font-size: 19px;
}
*/

conference {
	font-family: _sf;
    font-size: 19px;
}

papertitle {
	font-family: _sf;
    font-size: 21px;
}

authors {
	font-family: _it;
    font-size: 19px;
}

a {
/*    color: #0061c8;*/
    color: rgb(0,120,255);
    text-decoration: none;
}

/* visited link */
a:visited {
    color:rgb(0,120,255);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(190,0,0);
    text-decoration: none;
}
